.experience__main {
  background: #222831;
  min-height: 88vh;
}
.experience__header {
  color: #fff;
}
.experience__card {
  color: #fff;
  margin-bottom: 20px;
}
.experience__card__main {
  justify-content: flex-start;
  padding: 15px 0;
}
.org__logo {
  width: 80px;
  height: 80px;
}
.experience__content {
  margin-left: 15px;
}
.exp__para {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
}
.tag__frame {
  height: 85px;
  width: 275px;
  border: none;
  pointer-events: none;
  top: 0;
}
.p__link {
  justify-content: flex-start;
  margin: 10px 0;
}
.p__link a {
  text-decoration: none;
  color: #fff;
}
.p__link a:hover {
  color: rgb(202, 202, 202);
}
