.blogs__main {
  background: #222831;
  min-height: 88vh;
}
.blogs__header {
  color: #fff;
}
.blogs__content {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  align-self: center;
  justify-content: center;
  min-width: 90%;

}
@media screen and (max-width: 1000px) {
    .blogs__content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 660px) {
    .blogs__content {
        grid-template-columns: repeat(1, 1fr);
    }
}