.about__main {
  background: #222831;
  min-height: 88vh;
  /* max-height: 88vh; */
}
.about__page__header{
    font-size: 15px;
    color: #fff;
}
.page__header {
  margin-bottom: 10px;
}
.about__header {
  color: #fff;
}
.about__cards {
  width: 100%;
  max-width: 700px;
  color: #fff;
}
.card__about {
  margin-top: 5%;
}
.card__tile {
  width: 100%;
  margin: 5px 0;
  font-size: 20px;
}
.card__content {
    width: 100%;
    margin: 2.5% 0;
    font-size: 15px;
}
.techs__about__card{
 padding: 2.5%;
}
.techs__about__card li{
    font-size: 15px;
}
.profiles{
padding: 2.5%;
}
.profile__card__cs{
justify-content: flex-start;
margin-top: 2.5%;
text-decoration: none;
color: #fff;
font-size: 15px;
}
.profile__card__cs img{
    margin-right: 10px;
    width: 30px;
}


@media screen and (max-width: 425px) {
  .skills__icon {
    margin: 10px;
    height: 25px;
  }
}
.social__links {
  display: flex;
  flex-wrap: wrap;
}
.social {
  margin-right: 20px;
  margin-top: 25px;
}
.social img {
  width: 25px;
}
