* {
  box-sizing: border-box;
}
.projects__main {
  background: #222831;
  min-height: 88vh;
  height: auto;
}
.projects__content {
  display: grid;
  width: 95%;
  grid-template-columns: repeat(3, 0fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.project__card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #fff;
  color: #fff;
  position: relative;
}
.project__card__icon {
  width: 80px;
  height: 80px;
}
.project__disc {
  font-size: 13px;
  margin-top: 5px;
}
.git__link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.git__link svg {
  width: 30px;
  margin-right: 5px;
}
.project__head {
  margin-top: 10px;
}
.team__tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  font-size: 12px;
  color: #222831;
  padding: 5px;
  border-radius: 5px;
}
.project__tech {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.technology__logo {
  margin-right: 10px;
  margin-top: 10px;
}

/*Github banner*/
.github__banner {
  width: 95%;
  padding: 2.5%;
  justify-content: space-between;
}
.github__banner__icon {
  width: 100px;
}
.github__banner__content a {
  text-decoration: none;
  color: #fff;
}
.github__banner__content a:hover {
  text-decoration: underline;
}
.github__status__cont {
  width: 100%;
  padding: 2.5%;
}
.github__status {
  max-width: 500px;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .projects__content {
    grid-template-columns: repeat(2, 0fr);
  }
  .github__banner__content a {
    font-size: 10px;
  }
}
@media screen and (max-width: 680px) {
  .projects__content {
    grid-template-columns: repeat(1, 0fr);
  }
}
