.landing__main {
  background: #222831;
  min-height: 88vh;
  max-height: 88vh;
}
.page__headers {
  width: 95%;
  padding: 2.5%;
}
.page__contents {
  width: 95%;
  padding: 2.5%;
}
.content__font {
  width: 100%;
  max-width: 700px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #fff;
}
.images {
  width: 30px;
  height: 30px;
  background: #fff;
}
@media screen and (max-width: 425px) {
  .page__headers,
  .page__contents {
    width: 90%;
    padding: 5%;
  }
}
