@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #222831;
}
@font-face {
  font-family: "Peepo";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/Peepo.ttf") format("truetype");
  src: url("./assets/fonts/Peepo.eot");
  src: url("./assets/fonts/Peepo.woff") format("woff"),
    url("./assets/fonts/Peepo.svg") format("svg");
}
.pixel__font {
  font-family: "Peepo";
}
.normal__font {
  font-family: "Inter", sans-serif;
}
.flow__text {
  font-family: "Flow Circular", cursive;
}
.color__hp {
  color: #fd367e;
}
.color__nb {
  color: #00fff5;
}
.display__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.display__spacebetween {
  justify-content: space-between;
}
.flex__flow__down {
  flex-direction: column;
}
